---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "${SECRET_DOMAIN/./-}-tls-cert"
spec:
  secretName: "${SECRET_DOMAIN/./-}-tls"
  issuerRef:
#% if ca_cert_path and ca_key_path %#
    name: ca-issuer
#% else %#
    name: selfsigned-issuer
#% endif %#
    kind: ClusterIssuer
  commonName: "${SECRET_DOMAIN}"
  dnsNames: ["${SECRET_DOMAIN}", "*.${SECRET_DOMAIN}"]
