#% if ca_cert_path and ca_key_path %#
---
apiVersion: v1
kind: Secret
metadata:
  name: ca-key-pair
type: kubernetes.io/tls
data:
  tls.crt: "#{ ca_certificate() | b64encode }#"
  tls.key: "#{ ca_private_key() | b64encode }#"
#% endif %#
